<div class="my-container">
  <div class="my-content">
    <div class="main-content">
      <h1>Create new project</h1>
      <mat-label style="color: #000;"><b>Title</b></mat-label>
      <mat-form-field class="my-textbox" appearance="fill">
        <input matInput placeholder="Title" [(ngModel)]="title">
      </mat-form-field>
      <p></p>
      <br>
      <mat-label style="color: #000000;"><b>Description</b></mat-label>
      <mat-form-field class="my-textbox" appearance="fill">
        <textarea matInput placeholder="Description" [(ngModel)]="description"></textarea>
      </mat-form-field>
      <p></p>
      <p><b>Files</b></p>
      <input type="file" [(ngModel)]="project_file" (change)="onFileSelected($event)">
      <!-- <button mat-raised-button>Upload files</button> -->
      <br><br>  
      <p><b>Visibility</b></p>
      <mat-radio-group class="my-radio-group" [(ngModel)]="visibility">
        <mat-radio-button value="Draft">Draft</mat-radio-button>
        <mat-radio-button value="Public">Public</mat-radio-button>
        <mat-radio-button value="Private">Private</mat-radio-button>
      </mat-radio-group>
      <br><br>
      <button mat-raised-button (click)="postProject()">Save and view</button>
    </div>
    <div class="side-content">
      <input type="file" (change)="onImageSelected($event)">
      <img *ngFor="let screenshot of screenshots" class="screenshot" src="{{screenshot}}" alt="">
    </div>
  </div>
</div>