<mat-toolbar>
  <a [routerLink]="['/']">
    <span style="color: #CE1212;">Site</span>
  </a>
  <span class="spacer"></span>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search..." [(ngModel)]="keyword">
    <button mat-icon-button matSuffix (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <button mat-stroked-button class="toolbar-button" [routerLink]="['/']">Browse</button>
  <div *ngIf="loggedUser === null; else userProfile">
    <button [routerLink]="['/login']" mat-stroked-button class="toolbar-button">Login</button>
    <button [routerLink]="['/register']" mat-stroked-button class="toolbar-button signup-button">Signup</button>
  </div>
  <ng-template #userProfile>
    <img class="my-avatar" src="http://api.dukung-in.com/accounts/avatar/{{ loggedUser.account_id }}">
    <a [routerLink]="['/profile']">{{ loggedName }}</a>
    <button mat-icon-button [matMenuTriggerFor]="userOptions">
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #userOptions="matMenu">
      <button mat-menu-item [routerLink]="['/create']">Create new project</button>
      <button mat-menu-item [routerLink]="['/dashboard']">Dashboard</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ng-template>
</mat-toolbar>
<div class="my-container">
  <router-outlet></router-outlet>
</div>