<mat-card class="project-card">
  <a [routerLink]="['/app', project_id]">
    <img class="screenshot" mat-card-image src="//api.dukung-in.com/screenshot/{{ thumbnail_id }}">
  </a>
  <mat-card-content>
    <a class="my-link" [routerLink]="['/app', project_id]">
      {{ title }}
    </a>
    <mat-card-subtitle>{{ description }}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-footer>
    <div class="card-footer">
      <div class="footer-item">
        <mat-icon style="font-size: large;">thumb_up</mat-icon>
        <p>{{ like || 0 }}</p>
      </div>
      <div class="footer-item">
        <mat-icon style="font-size: large;">visibility</mat-icon>
        <p>{{ view || 0 }}</p>
      </div>
      <div class="footer-item">
        <mat-icon style="font-size: large;">download</mat-icon>
        <p>{{ download || 0 }}</p>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
