<div class="my-container">
  <h1 class="my-text">Login</h1>

  <div class="form-section">
    <p>
      <mat-form-field class="custom-textbox">
        <mat-label>Username</mat-label>
        <input matInput class="my-text" [(ngModel)]="email">
        <mat-hint>Required</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="custom-textbox">
        <mat-label>Password</mat-label>
        <input matInput type="password" class="my-text" [(ngModel)]="password">
        <mat-hint>Required</mat-hint>
      </mat-form-field>
    </p>
    <p class="my-text">
      <button mat-raised-button (click)="login()">Login</button> or <a [routerLink]="['/register']" class="my-link">Create account</a>
    </p>
  </div>
</div>